<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100124285456-q23b3e8031s3qlej5cml9s8cea0pnntu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100124285456-q23b3e8031s3qlej5cml9s8cea0pnntu</string>
	<key>API_KEY</key>
	<string>AIzaSyDTGfiQufOdk7MN_3qT2Y2zEMQHr15m1Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>100124285456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.vulcantechnologies.hmo</string>
	<key>PROJECT_ID</key>
	<string>hmo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hmo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100124285456:ios:8103a227eb0181d1</string>
	<key>DATABASE_URL</key>
	<string>https://hmo-app.firebaseio.com</string>
</dict>
</plist>